par_all_v23.xlsx
model input.xlsx
cali_par_rank_v9.xlsx
PE_bfCal.png
PE_afCal.png
Morris method
Input parameters.xlsx
Functions.docx
.RData
.Rproj.user
NYC_targets_v2.Rdata
~$Input parameters.xlsx
~$model input.xlsx
~$nctions.docx
~$par_all_v23.xlsx
Data_input_v2.R
Rplot_new_afCal.png
Rplot_new_bfCal.png
cali_par.xlsx
.Rhistory
obj_10.txt
random draws.xlsx
ODEsolve_calib_v13.R
Data_input_v3.R
calibration plots
~$random draws.xlsx
Calibration plot.png
Rplot.png
